apiVersion: v1
kind: Service
metadata:
  name: {{ mysql_release_name }}
  namespace: {{ mysql_namespace }}
spec:
  selector:
    app: {{ mysql_release_name }}
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
