apiVersion: batch/v1
kind: Job
metadata:
  name: mysql-init
  namespace: {{ mysql_namespace }}
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: mysql-init
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "{{ mysql_root_password }}"
          command:
            - /bin/sh
            - -c
          args:
            - >
              echo "Waiting for MySQL...";
              until mysql -h {{ release_name }} -uroot -p"$MYSQL_ROOT_PASSWORD" -e "SELECT 1" >/dev/null 2>&1;
              do sleep 3; done;

              echo "Creating DB and table...";
              mysql -h {{ release_name }} -uroot -p"$MYSQL_ROOT_PASSWORD" -e "
                CREATE DATABASE IF NOT EXISTS {{ mysql_database }};
                USE {{ mysql_database }};
                CREATE TABLE IF NOT EXISTS {{ sample_table }} (
                  id INT AUTO_INCREMENT PRIMARY KEY,
                  name VARCHAR(128),
                  email VARCHAR(255)
                );
              ";

              echo "Inserting sample data...";
{% for row in sample_data %}
              mysql -h {{ release_name }} -uroot -p"$MYSQL_ROOT_PASSWORD" -e "
                INSERT INTO {{ mysql_database }}.{{ sample_table }}
                (name, email)
                VALUES ('{{ row.name }}', '{{ row.email }}');
              ";
{% endfor %}
